/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@import url(./font.css);

/**************/
/* Parameter. */
/**************/

:root {
    /* https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors */
    --font-size: 18px;
    --title-font-size: 2rem;
    --section-font-size: 1.1rem;
    --main-bg: #fffff8;
    --main-text: #111111;
    --heading: #b71c1c;
    --mark: #ffccbc;
    --algorithm-bg: #e3f2fd;
    --algorithm-border: #0d47a1;
    --note-bg: #f1f8e9;
    --note-border: #33691e;
    --abstract-bg: #f3e5f5;
    --abstract-border: #4a148c;
    --example-bg: #eceff1;
    --example-border: #263238;
    --definition-bg: #fbe9e7;
    --definition-border: #bf360c;
    --quote-bg: #fff3e0;
    --quote-border: #e65100;
    --aside-border: #1b5e20;
    --aside-bg: #e8f5e9;
    --objective-bg: var(--definition-bg);
    --objective-border: var(--definition-border);
    --result-bg: var(--example-bg);
    --result-border: var(--example-border);
    --method-bg: var(--algorithm-bg);
    --method-border: var(--algorithm-border);
    --math-bg: var(--algorithm-bg);
    --math-border: var(--algorithm-border);
    --context-bg: #f1f8e9;
    --context-border: #33691e;
    --link: #007acc;
    --code: #ddd;
    --hr: #ddd;
    --radius: 2px;
    --kw-todo: var(--heading);
    --kw-doing: var(--quote-border);
    --kw-waiting: var(--kw-doing);
    --kw-done: var(--aside-border);
    --kw-failed: var(--main-text);
    --line-height: 1.5;
    --annotation: #777;
    --button-hover: #fffff0;
    --p-margin-bottom: calc(var(--line-height) * 1em);
    --sep-margin: 4rem;
    --img-shadow: 2px 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    --border: 1px solid var(--annotation);

    /************************/
    /* Web component style. */
    /************************/

    --x-keyword-color: var(--main-bg);
    --x-h1-font-size: var(--title-font-size);
    --x-h1-margin: 10vh;
    --x-h1-font-family: "Sans";
    --x-h1-font-weight: 400;
    --x-h1-color: var(--heading);
    --x-h2-font-size: var(--section-font-size);
    --x-h2-font-family: "Sans";
    --x-h2-color: var(--heading);
    --x-h3-font-size: var(--section-font-size);
    --x-h3-font-family: "Sans";
    --x-h3-color: var(--heading);
    --x-h4-font-size: var(--section-font-size);
    --x-h4-font-family: "Sans";
    --x-h4-color: var(--heading);
    --x-h5-font-size: var(--section-font-size);
    --x-h5-font-family: "Sans";
    --x-h5-color: var(--heading);
    --x-h6-font-size: var(--section-font-size);
    --x-h6-font-family: "Sans";
    --x-h6-color: var(--heading);
    --x-cartridge-margin: var(--sep-margin);
    --x-cartridge-bg-color: var(--cartridge-bg);
    --x-cartridge-border-color: var(--annotation);
    --x-cartridge-annotation-color: var(--annotation);
    --x-blockquote-border-color: var(--quote-border);
    --x-blockquote-color: var(--main-text);
    --x-blockquote-bg-color: var(--quote-bg);
    --x-blockquote-annotation-color: var(--annotation);
    --x-question-border-color: var(--quote-border);
    --x-question-color: var(--main-text);
    --x-question-bg-color: var(--quote-bg);
    --x-question-annotation-color: var(--annotation);
    --x-answer-border-color: var(--quote-border);
    --x-answer-color: var(--main-text);
    --x-answer-bg-color: var(--quote-bg);
    --x-answer-annotation-color: var(--annotation);
    --x-note-border-color: var(--note-border);
    --x-note-color: var(--main-text);
    --x-note-margin: var(--sep-margin);
    --x-note-bg-color: var(--note-bg);
    --x-note-annotation-color: var(--annotation);
    --x-objective-border-color: var(--objective-border);
    --x-objective-color: var(--main-text);
    --x-objective-margin: var(--sep-margin);
    --x-objective-bg-color: var(--objective-bg);
    --x-objective-annotation-color: var(--annotation);
    --x-result-border-color: var(--result-border);
    --x-result-color: var(--main-text);
    --x-result-margin: var(--sep-margin);
    --x-result-bg-color: var(--result-bg);
    --x-result-annotation-color: var(--annotation);
    --x-method-border-color: var(--method-border);
    --x-method-color: var(--main-text);
    --x-method-margin: var(--sep-margin);
    --x-method-bg-color: var(--method-bg);
    --x-method-annotation-color: var(--annotation);
    --x-context-border-color: var(--context-border);
    --x-context-color: var(--main-text);
    --x-context-margin: var(--sep-margin);
    --x-context-bg-color: var(--context-bg);
    --x-context-annotation-color: var(--annotation);
    --x-algorithm-border-color: var(--algorithm-border);
    --x-algorithm-color: var(--main-text);
    --x-algorithm-margin: var(--sep-margin);
    --x-algorithm-bg-color: var(--algorithm-bg);
    --x-algorithm-annotation-color: var(--annotation);
    --x-definition-border-color: var(--definition-border);
    --x-definition-color: var(--main-text);
    --x-definition-margin: var(--sep-margin);
    --x-definition-bg-color: var(--definition-bg);
    --x-definition-annotation-color: var(--annotation);
    --x-example-border-color: var(--example-border);
    --x-example-color: var(--main-text);
    --x-example-margin: var(--sep-margin);
    --x-example-bg-color: var(--example-bg);
    --x-example-annotation-color: var(--annotation);
    --x-blockmath-border-color: var(--algorithm-border);
    --x-blockmath-color: var(--main-text);
    --x-blockmath-margin: var(--sep-margin);
    --x-blockmath-bg-color: var(--algorithm-bg);
    --x-blockmath-annotation-color: var(--annotation);
    --x-abstract-bg-color: var(--abstract-bg);
    --x-abstract-border-color: var(--abstract-border);
    --x-abstract-annotation-color: var(--annotation);
    --x-keyword-bg-color: var(--main-text);
    --x-todo-bg-color: var(--kw-todo);
    --x-doing-bg-color: var(--kw-doing);
    --x-waiting-bg-color: var(--kw-waiting);
    --x-failed-bg-color: var(--kw-failed);
    --x-done-bg-color: var(--kw-done);
    --x-link-color: var(--link);
    --x-button-border: var(--annotation);
    --x-button-color: var(--main-text);
    --x-button-bg-color-hover: var(--button-hover);
    --x-button-box-shadow: var(--img-shadow);
}

/*******************/
/* Template style. */
/*******************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-margin-top: 4.5rem;
}

html {
    font-family: "Serif";
    color: var(--main-text);
    background: var(--main-bg);
    font-size: 18px;
    line-height: var(--line-height);
    text-rendering: optimizeLegibility;
    text-align: start;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

body {
    visibility: hidden;
    margin: 0 1rem;
}

main {
    position: relative;
    max-width: 1500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#container {
    position: relative;
    justify-content: center;

    #content {
        position: relative;
        max-width: 70ch;
        margin: auto;
        border: var(--border);
        padding: 0 1.5rem 1rem 1.5rem;
        margin-bottom: 33vh;
        background-color: var(--main-bg);
        box-shadow: var(--img-shadow);

        img {
            box-shadow: var(--img-shadow);
        }
    }
}

#bg-image {
    position: relative;
    display: block;
    overflow-y: clip;
    aspect-ratio: 16 / 9;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: -1;
    text-align: center;
    border: var(--border);
    border-top: none;
    border-radius: 0;
    box-shadow: var(--img-shadow);

    #bg-image-img {
        position: relative;
        border: none;
        margin: 0;
        padding: 0;
        width: 100%;
        border-radius: 0;
    }
}

#topbar {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--main-bg);
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: var(--border);
    margin-bottom: 2rem;
}

.button {
    font-family: "Mono" !important;
    appearance: none;
    cursor: pointer;
    text-transform: uppercase;
    border: var(--border);
    padding: 1em;
    color: var(--main-text);
    font-weight: lighter;
    font-family: "Sans";
    background-color: inherit;
    border-radius: 2px;
    font-size: 0.8rem;
}

.button:hover {
    background-color: var(--button-hover);
    text-decoration: none;
    box-shadow: var(--img-shadow);
    transition-duration: 0.1s;
}

.button:focus {
    outline: 1px transparent;
}

.button:before {
    display: none;
}

.button:-webkit-details-marker {
    display: none;
}

.navbar {
    text-align: end;
    font-size: 0.9rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

#table-of-content {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 1rem;
    display: none;
    padding: 0.5rem;
    max-width: 50ch;
    max-height: 100vh;
    overflow-y: auto;
    background-color: var(--main-bg);
    flex-shrink: 0;
    border: var(--border);
    border-radius: var(--radius);


    h1 {
        display: none;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Sans";
        font-size: 0.9rem;
        & a {
            padding: 0.1em;
            margin-bottom: 0.4em;
            font-weight: normal;
            color: var(--link);
        }
        &.highlight {
            background-color: var(--algorithm-bg);
        }
    }

    h2 {
        margin-left: 0em;
    }
    h3 {
        margin-left: 1em;
    }
    h4 {
        margin-left: 2em;
    }
    h5 {
        margin-left: 3em;
    }
    h6 {
        margin-left: 4rem;
    }
}

#table-of-content::before {
    content: "Contents";
    color: var(--heading);
}

footer {
    text-align: center;
    font-size: 0.875rem;
    color: var(--main-text);
    margin-top: 2rem;
}

/********************************/
/* DOM element used in Article. */
/********************************/

p {
    margin-bottom: var(--p-margin-bottom);
}

.all-small-caps {
    font-variant: all-small-caps;
}

.small-caps {
    font-variant: small-caps;
    font-size: 1.2em;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

code,
pre {
    font-family: "Mono";
    font-size: 0.75rem;
    border-radius: var(--radius);
}

code {
    background-color: var(--code);
    border-radius: var(--radius);
    padding: 0 0.2rem;
    font-size: 0.75rem;
}

pre {
    margin-bottom: var(--p-margin-bottom);
    overflow-x: auto;
    font-size: 0.75rem;
}

em,
strong {
    font-style: italic;
}

strong {
    font-weight: bold;
}

mark {
    background-color: var(--mark);
    border-radius: var(--radius);
    padding: 0 0.2em;
}

dl {
    margin-bottom: 1.5rem;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
}

ul,
ol {
    padding-left: 1.5em;
    margin-bottom: 1.5em;
}

li {
    margin-bottom: 0.5em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: var(--p-margin-bottom);
}

th,
td {
    padding: 0.75rem;
    border: 1px solid var(--hr);
}

thead th {
    background-color: var(--hr);
    text-align: left;
}

.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    column-gap: var(--p-margin-bottom);

    .column {
        display: flex;
        flex-direction: column;
        margin-bottom: var(--p-margin-bottom);
        border: var(--border);
        border-radius: 2px;
        padding: 1em;
    }
}

figure {
    margin: var(--sep-margin) auto;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;

    img,
    iframe {
        max-width: 100%;
    }

    iframe {
        aspect-ratio: 16 / 9;
        height: 100%;
        width: 100%;
    }

    figcaption {
        margin-top: 1rem;
        text-align: center;
    }
}

img,
iframe {
    border: 1px solid;
    padding: 2px;
    border-radius: var(--radius);
}

hr {
    border: 0;
    height: 1px;
    background: var(--hr);
    margin: var(--sep-margin) 0; /* max of content elements margins. */
}

hr + * {
    padding-top: 0;
}

aside {
    width: 40%;
    padding: 0.5em;
    float: right;
    background-color: var(--aside-bg);
    border-left: 3px solid var(--aside-border);
    border-radius: var(--radius);
    font-size: 0.875em;
    color: var(--main-text);
    margin-left: 1em;
}

aside p {
    margin: 0;
}

x-example *:last-child,
x-q *:last-child,
x-a *:last-child,
x-objective *:last-child,
x-result *:last-child,
x-method *:last-child,
x-context *:last-child,
x-definition *:last-child,
x-abstract *:last-child {
    margin-bottom: 0;
}

/***************/
/* Experiment. */
/***************/

.theorem {
    padding-left: 1rem;
    background-color: blue;

    .actions {
        display: flex;
        justify-content: end;
    }

    .button {
        background-color: aqua;
        position: relative;
        padding: 0;
        margin: 0;
    }

    .assertion {
        background-color: red;
    }

    .proof {
        background-color: green;
        display: none;
    }
}

/*************************/
/* Responsive behaviour. */
/*************************/

@media(min-width: 120ch) {
    #table-of-content {
        left: calc(70ch - 1.5rem - 1px);
        top: -1rem;
        right: initial;
        min-width: 50ch;
        border: none;
    }
}

@media (max-width: 900px) {
    body {
        margin-top: 1rem;
    }

    #bg-image {
        display: none;
    }

    #container {
        position: static;
        width: 100%;
    }

    #container #content {
        max-width: 70ch;
        flex: 1;
    }
}

@media (max-width: 800px) {
    body {
        margin: 0;
        font-size: 16px;
    }

    main {
        padding: 0.25rem;
    }

    #topbar {
        margin-bottom: 2rem;
    }

    #table-of-content {
        display: none;
    }

    .cartridge.abstract {
        max-width: 80%;
    }

    aside {
        display: none;
    }
}
