/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@import url(./highlight/atom-one-dark.min.css);
@import url(./font.css);

:root {
	/* https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors */
	--font-size: 18px;
	--font-h-factor: 1.15;
	--h6-size: calc(var(--font-size) * var(--font-h-factor));
	--h5-size: calc(var(--h6-size) * var(--font-h-factor));
	--h4-size: calc(var(--h5-size) * var(--font-h-factor));
	--h3-size: calc(var(--h4-size) * var(--font-h-factor));
	--h2-size: calc(var(--h3-size) * var(--font-h-factor));
	--h1-size: calc(var(--h2-size) * var(--font-h-factor));
	--title-font-size: 2rem;
	--main-bg: #fffff8;
	--main-text: #111111;
	--heading: #b71c1c;
	--mark: #ffccbc;
	--algorithm-bg: #e3f2fd;
	--algorithm-border: #0d47a1;
	--note-bg: #f1f8e9;
	--note-border: #33691e;
	--abstract-bg: #f3e5f5;
	--abstract-border: #4a148c;
	--definition-bg: #eceff1;
	--definition-border: #263238;
	--example-bg: #FBE9E7;
	--example-border: #BF360C;
	--quote-bg: #fff3e0;
	--quote-border: #e65100;
	--aside-border: #1b5e20;
	--aside-bg: #e8f5e9;
	--link: #007acc;
	--code: #ddd;
	--hr: #ddd;
	--radius: 2px;
	--kw-todo: var(--heading);
	--kw-doing: var(--quote-border);
	--kw-waiting: var(--kw-doing);
	--kw-done: var(--aside-border);
	--kw-failed: var(--main-text);
	--line-height: 1.5;
	--annotation: #777;
	--button-over: #fffff0;
	--p-margin-bottom: calc(var(--line-height) * 1em);
	--sep-margin: 4rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Serif";
  color: var(--main-text);
  background: var(--main-bg);
  font-size: 18px;
  line-height: var(--line-height);
  text-rendering: optimizeLegibility;
  text-align: justify;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

body {
  margin: 20px;
}

main {
  display: flex;
  justify-content: center;
  max-width: 125ch;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 66vh;
}

.topbar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--annotation);
  margin-bottom: 2rem;
}

.button {
  font-family: "Mono" !important;
	appearance: none;
	cursor:pointer;
  text-transform: uppercase;
  border: 1px solid var(--annotation);
  padding: 1em;
  color: var(--main-text);
  font-weight: lighter;
  font-family: "Sans";
  background-color: inherit;
  border-radius: 2px;
  font-size: 0.8rem;
}

.button:hover {
  background-color: var(--button-over);
  text-decoration: none;
  transition-duration: 0.1s;
}

.button:focus {
  outline: 1px transparent;
}

.button:before {
  display: none;
}

.button:-webkit-details-marker {
  display: none;
}

/* Title */
section > h1 {
  font-size: var(--title-font-size); 
  display: block;
  text-align: center;
  border-bottom: none;
  margin: 10vh auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	display: table;

	padding-top: 1rem;
	font-size: 1.2rem;
	line-height: 1.2;
	padding-bottom: 0.1em;
	border-bottom: 1px solid currentColor;
	margin-bottom: 1.2rem;

	font-family: "Sans";
	font-weight: normal;
	color: var(--heading);

}

#content section:has(h1, h2, h3, h4, h5, h6) {
	padding-left: 1rem;
}

#content > section:has(h1) > section:has(h2) {
	padding-left: 0;
}

#content > section:has(h1) {
	padding-left: 0;
}

.small-caps {
  font-variant: small-caps;
  font-size: 1.2em;
}

.all-small-caps {
  font-variant: all-small-caps;
}

#content {
  position: relative;
  max-width: 70ch;
  flex-grow: 1;
  border: 1px solid var(--annotation);
  padding: 1rem;
}

hr + * {
  padding-top: 0;
}

.navbar {
  text-align: end;
  font-size: 0.9rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

#table-of-content {
	/* display: none; */
  margin-left: 1rem;
  max-width: 40ch;

  h1 {
	  display: none;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
	text-align: left;
	font-size: 0.9rem;
	font-weight: normal;
	line-height: 1;
	padding: 0;
	margin: 0;
	margin-bottom: 0.5em;

	color: var(--main-text);
	display: block;
	border: none;
  }

  h2 {
	margin-left: 0em;
  }
  h3 {
	margin-left: 1em;
  }
  h4 {
	margin-left: 2em;
  }
  h5 {
	margin-left: 3em;
  }
  h6 {
	margin-left: 4rem;
  }
}

#table-of-content::before {
  content: "Contents";
  color: var(--heading);
}

p {
  margin-bottom: var(--p-margin-bottom);
}

.cartridge {
  position: relative;
  max-width: 90%;
  margin: var(--sep-margin) auto;
  padding: 1rem;
  border-radius: var(--radius);

  & *:last-child {
	margin-bottom: 0;
  }

  &.abstract {
	font-size: 0.9em;
	background-color: var(--abstract-bg);
	border: 1px solid var(--abstract-border);
	max-width: 70%;
	margin: 15vh auto;
  }

  &.abstract::before {
	content: "Abstract";
	position: absolute;
	top: calc(-1 * (1em + 1px + 0.75em));
	right: 0;
	font-size: 0.75em;
	color: var(--annotation);
  }

  &.definition {
	background-color: var(--definition-bg);
	border: 1px solid var(--definition-border);
  }

  &.definition::before {
	content: "Definition";
	position: absolute;
	top: calc(-1 * (1em + 1px + 0.75em));
	right: 0;
	font-size: 0.75em;
	color: var(--annotation);
  }

  &.note {
	background-color: var(--note-bg);
	border: 1px solid var(--note-border);
  }

  &.note::before {
	content: "Note";
	position: absolute;
	top: calc(-1 * (1em + 1px + 0.75em));
	right: 0;
	font-size: 0.75em;
	color: var(--annotation);
  }

  &.algorithm {
	background-color: var(--algorithm-bg);
	border: 1px solid var(--algorithm-border);
  }

  &.algorithm::before {
	content: "Algorithm";
	position: absolute;
	top: calc(-1 * (1em + 1px + 0.75em));
	right: 0;
	font-size: 0.75em;
	color: var(--annotation);
  }

  &.example {
	background-color: var(--example-bg);
	border: 1px solid var(--example-border);
  }

  &.example::before {
	content: "Example";
	position: absolute;
	top: calc(-1 * (1em + 1px + 0.75em));
	right: 0;
	font-size: 0.75em;
	color: var(--annotation);
  }
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code,
pre {
	font-family: "Mono";
	font-size: 0.9em;
  border-radius: var(--radius);
}

code {
  background-color: var(--code);
  border-radius: var(--radius);
  padding: 0 0.2rem;
}

pre {
	margin-bottom: var(--p-margin-bottom);
	overflow-x: auto;
}

em,
strong {
  font-style: italic;
}

strong {
  font-weight: bold;
}

mark {
  background-color: var(--mark);
  border-radius: var(--radius);
  padding: 0 0.2em;
}

blockquote {
  font-style: italic;
  color: var(--main-text);
  background-color: var(--quote-bg);
  border: 1px solid var(--quote-border);

  &::before {
	content: "Quote";
	position: absolute;
	top: calc(-1 * (1em + 1px + 0.75em));
	right: 0;
	font-size: 0.75em;
	color: var(--annotation);
  }
}

blockquote footer {
  text-align: right;
  font-size: 0.875rem;
  color: var(--main-text);
}

dl {
  margin-bottom: 1.5rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}

ul,
ol {
  padding-left: 1.5em;
  margin-bottom: 1.5em;
}
li {
  margin-bottom: 0.5em;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: var(--p-margin-bottom);
}

th,
td {
  padding: 0.75rem;
  border: 1px solid var(--hr);
}

thead th {
  background-color: var(--hr);
  text-align: left;
}

.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    column-gap: var(--p-margin-bottom);

	.column {
		display: flex;
		flex-direction: column;
		margin-bottom: var(--p-margin-bottom);
		border: 1px solid var(--annotation);
		border-radius: 2px;
		padding: 1em;
	}
}

figure {
  margin: var(--sep-margin) auto;
}

figure {
	display: flex;
	flex-direction: column;
	align-items: center;

	img, iframe {
		max-width: 100%;
	}

	iframe {
		aspect-ratio: 16 / 9;
		height: 100%;
		width: 100%;
	}

	figcaption {
		margin-top: 1rem;
		text-align: center;
	}
}

img, iframe {
  border: 1px solid;
  padding: 2px;
  border-radius: var(--radius);
}

footer {
  text-align: center;
  font-size: 0.875rem;
  color: var(--main-text);
  margin-top: 2rem;
}

hr {
  border: 0;
  height: 1px;
  background: var(--hr);
  margin: var(--sep-margin) 0; /* max of content elements margins. */
}

aside {
  width: 40%;
  padding: 0.5em;
  float: right;
  background-color: var(--aside-bg);
  border-left: 3px solid var(--aside-border);
  border-radius: var(--radius);
  font-size: 0.875em;
  color: var(--main-text);
  margin-left: 1em;
}

aside p {
  margin: 0;
}

.keyword {
  font-family: "Mono";
  padding: 0 0.2em;
  margin-right: 0.5em;
  color: var(--main-bg);
  border-radius: var(--radius);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75em;

  &.todo {
	background-color: var(--kw-todo);
  }

  &.todo::before {
	content: "todo";
  }

  &.doing {
	background-color: var(--kw-doing);
  }

  &.doing::before {
	content: "doing";
  }

  &.waiting {
	background-color: var(--kw-waiting);
  }

  &.waiting::before {
	content: "waiting";
  }

  &.done {
	background-color: var(--kw-done);
  }

  &.done::before {
	content: "done";
  }

  &.failed {
	background-color: var(--kw-failed);
  }

  &.failed::before {
	content: "failed";
  }
}

.theorem {
	padding-left: 1rem;
	background-color: blue;

	.actions {
		display: flex;
		justify-content: end;
	}

	.button {
	background-color: aqua;
	position: relative;
	padding: 0;
	margin: 0;
	}

	.assertion {
		background-color: red;
	}

	.proof {
		background-color: green;
		display: none;
	}
}

@media (max-width: 800px) {
  body {
	  margin: 0;
	  font-size: 16px;
  }

  main {
	padding: 0.5rem;
  }

  .topbar {
	margin-bottom: 2rem;
  }

  #table-of-content {
	display: none;
  }

  .cartridge.abstract {
		max-width: 80%;
  }

  aside {
	display: none;
  }
}
